body {
    background: transparent;
	height: 100%;
    margin: 0;
	padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title h1 {
	text-align: center;
	font-size: 100px;
	text-shadow: 2px 2px 3px grey;
	color: #091b38;
	
}

.projectsContainer {
	text-align:center;
	background-color: white;
	border-style: solid;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 0px;
	border-right-width: 0px;
	padding-top: 50px;
	padding-bottom: 10px;
}

.overlay {
	
	display: inline-block;
	position: relative;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 1px 2px 3px grey;
}
.overlay:hover .overlayBox{
	bottom: 0;
	height: 300px;
	 
	filter: blur(5px);
	transition: .5s ease;
}
.overlay:hover .overlayText{
	opacity: 1;
	transition: 1s ease;
}

.overlay:hover {
}
.overlayBox {
	height: 300px;
	width: 300px;
	filter: blur(0px);
	transition: .5s ease-in-out;
}

.overlayText {
	position: absolute; 
	top: 132px; 
	left: 0; 
	width: 100%; 
	font: bold italic 36px Consolas; 
	color: white;
	text-align: center;
	opacity: 0;
	
	text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
	transition: .5s ease;	 
}
.overlayDescription {
	font-size: 24px;
}

.projectsHeader {
	font-size: 72px;
	text-shadow: 2px 2px 5px grey;
	 color: #091b38;
	 
}

.navBarContainer {
	z-index: 100;
	position: fixed;
	width: 100%;
	display: block;
	top: 0;
	overflow: auto;
	background-color: #444444;
}

.navBarContainer ul {
    list-style-type: none;
    overflow: hidden;
	margin: 0;
    padding: 0;
    background-color: #444444;
}

.navBarContainer li {
    float: left;
}

.navBarContainer li a {
	display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
	transition: .5s ease;
}

.navBarContainer li a:hover {
    background-color: #1c1c1c;
}

.experienceDiv {
	text-align: center;
	background-color: #091b38;
	border-style: solid;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 0px;
	border-right-width: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.experienceDiv h1 {
	font-size: 54px;
	text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
	 color: white;
}

.experienceDiv table {
	text-align: center;
	font-size: 32px;
	text-shadow: 2px 2px 5px black;
	 color: white;
	 
}

.experienceDiv th {
	 padding: 15px;
}

.experienceLink, .linkButton {
	padding: 20px;
}

.linkButton {
	background-color: #091b38;
	padding: 20px;
}

.experienceDiv a:link, .experienceDiv a:visited, .experienceDiv a:active,
.linkButton a:link, .linkButton a:visited, .linkButton a:active {
	text-decoration: none;
	color: white;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	padding: 12px;
	transition: .25s ease;
}
.experienceDiv a:hover, .linkButton a:hover {
	background-color: #890204;
}

.resumeDiv {
	text-align: center;
	background-color: white;
	border-style: solid;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 0px;
	border-right-width: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.resumeDiv h1 {
	
	font-size: 54px;
	text-shadow: 2px 2px 3px grey;
	 color: #091b38;
}

.resumeDiv table {
	text-align: center;
	font-size: 32px;
    text-shadow: 1px 1px 6px grey;
	color: #091b38;
	 
}

.resumeDiv th {
	padding: 15px;
}

.resumeDiv hr {
	height: 2px;
	width: 25%;
	background-color: black;
}

.tableList {
	text-shadow: 0px 0px 0px grey;
	font-size: 20px;
	margin: 0 auto;
	width:  40%;
	text-align: left;
}

.whiteline {
	padding-top: 5px;
	background-color: white;
}

.about {
	text-align: center;
	background-color: #091b38;
	border-style: solid;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 0px;
	border-right-width: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.about h1 {
	font-size: 54px;
	text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
	 color: white;
}
/* TODO: Remove % on width/height, put in table*/
.about img {
	display: block;
	max-width:350px;
	max-height:350px;
	width: auto;
	height: auto;
	border-radius: 10%;
	box-shadow: 4px 4px 20px 0px black;
	border: 2px solid white;
}

.about p {
	text-align: justify;
    text-justify: inter-word;
	font-size: 24px;
	color: white;
    padding: 10px;
	width: 400px;
}

.contact {
	text-align: center;
	color: #091b38;
	background-color: white;
	border-style: solid;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 0px;
	border-right-width: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.contact h1 {
	font-size: 54px;
	text-shadow: 2px 2px 3px grey;
	color: #091b38;
}

.contact table {
	text-align: center;
	font-size: 32px;
    text-shadow: 1px 1px 6px grey;
	color: #091b38;
	 
}

.contact th {
	padding: 15px;
}

.sourceList {
	text-align: left;
	padding: 1%;
	width: auto;
	background-color: white;
}